// .cart-c{
//     background-color: white;
//     border-radius: 50%;
//     height: 53px;
//     width: 53px;
//     position: absolute;
//     right: 20px;
// }
.navbar{
    padding: 20px !important;
}
.cart{
    width: 30px;
    margin: 5px auto;
    cursor: pointer;
}
.buy_button{
    cursor: pointer;
}